.text-title {
  background-color: saddlebrown;
  color: blanchedalmond;
  text-align: center;
}

.content {
  background-color: lightgrey;
  padding: 1em;
}

body {
  margin: 0px;
}

.general-content {
  background-image: url('record.png');
  background-color: #cccccc;
  background-repeat: repeat;
}
